APP_KEY=base64:TrHKACxXGq83MY3b2ktpg1dPPEFAUNqtrVrwofTiWPA=
APP_ENV=local
APP_DEBUG=true

DB_CONNECTION=mysql
DB_HOST=mysql
DB_DATABASE=repro
DB_USERNAME=repro
DB_PASSWORD=repro

QUEUE_CONNECTION=redis
CACHE_STORE=redis

REDIS_CLIENT=predis
REDIS_HOST=redis
